<header>
  <div class="row">
    <form (ngSubmit)="onSubmit(connectForm)" #connectForm="ngForm">
      <div class="input-field col s12 xl3 offset-xl4">
        <input id="host_username" type="text" class="validate" name="username" ngModel/>
        <label for="host_username">Username</label>
      </div>
      <div class="input-field col s12 xl3">
        <input id="host_password" type="password" class="validate" name="password" ngModel/>
        <label for="host_password">Password</label>
      </div>
      <div class="input-field col s12 xl2">
        <button type="submit" class="waves-effect waves-light btn-large" [disabled]="!connectForm.form.valid">
          Quick connect
        </button>
      </div>
    </form>
  </div>
</header>
