@import "../../../app.component.scss";

/* sidebar of the application */
ul {
  max-height: 350px;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main-white-0;
    border-radius: 5px;
  }

  div.menu-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 15px;

    &:hover {
      color: $main-green-0;
      background: $main-white-0;
      cursor: pointer;

      .icon-container {
        background: $main-green-0;

        i {
          color: $main-white-0;
        }
      }
    }

    .icon-container {
      display: flex;
      background: $main-white-0;
      padding: 15px 17px;
      border-radius: 15px;
      margin-right: 20px;

      i {
        color: $main-green-0;
      }
    }
  }
}
