//white
$main-white-0: #fafafa;
// blue color
$main-blue-0: #b1d6ea;
$main-blue-1: #01a1ff;
// grey color
$main-grey-0: #eef1f7;
// black
$main-black-5: #0f1b24;
// green
$main-green-0: #98A65D;
$main-green-1: #C8D1A7;

.app-background {
  background: $main-green-0;
  height: 100vh;
  padding: 15px;
}
