<ng-template [ngIf]="this.connection.initState.beginstate">
  <div class="container">
    <div class="row">
      <div class="col s12 m3 l2" *ngFor="let map of this.connection.folder">
        <div class="folder-container" (click)="this.navigate(map)">
          <i class="material-icons">folder</i>
          <span>{{map}}</span>
        </div>
      </div>
    </div>
  </div>
  <app-loading></app-loading>
</ng-template>
<ng-template [ngIf]="!this.connection.initState.beginstate && this.connection.initState.browsestate">
  <div class="container">
    <div class="row">
      <div class="col s12 m3 l2" *ngFor="let map of this.connection.folder">
        <div class="folder-container" (click)="this.navigate(map.name)">
          <img src="{{map.icon}}">
          <span>{{map.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <app-loading></app-loading>
</ng-template>
